Repository rabbitmq/rabbitmq-server, pull requests merged in 2021-09, with the labels that each got.

#3378 Add debug utilities to Docker image
  .github/workflows/test-mixed-versions.yaml
  .github/workflows/test.yaml
  packaging/docker-image/Dockerfile
Labels: backport-v3.9.x, backport-v3.8.x

#3379 Use master branch of rabbitmq-ct-helpers and rabbitmq-ct-client-helpers
  WORKSPACE.bazel
Labels: bazel

#3387 Fix mixed version testing for 3.7/3.8
  BUILD.package_generic_unix
  WORKSPACE.bazel
  deps/rabbit/test/clustering_management_SUITE.erl
  deps/rabbit/test/rabbitmq_queues_cli_integration_SUITE.erl
  deps/rabbitmq_management/test/clustering_SUITE.erl
  deps/rabbitmq_management/test/clustering_prop_SUITE.erl
  deps/rabbitmq_recent_history_exchange/test/system_SUITE.erl
  rabbitmq.bzl
  rabbitmq_home.bzl
  rabbitmq_package_generic_unix.bzl
  rabbitmq_run.bzl
  scripts/bazel/rabbitmq-run.sh
Labels: bazel

#3392 Update Ranch to 2.1
  deps/rabbit_common/src/rabbit_net.erl
  rabbitmq-components.mk
Labels: make

#3398 Revisit two rabbitmq.conf validators
  deps/rabbit/priv/schema/rabbit.schema
Labels: backport-v3.9.x, backport-v3.8.x

#3401 Use Ranch 2.1.0 in bazel build
  BUILD.ranch
  deps/amqp_client/BUILD.bazel
  deps/rabbit/apps/rabbitmq_prelaunch/BUILD.bazel
  deps/rabbit_common/BUILD.bazel
  deps/rabbitmq_aws/BUILD.bazel
  workspace_helpers.bzl
Labels: bazel, backport-v3.9.x, backport-v3.8.x

#3417 update osiris to 1.2.0
  deps/rabbit/Makefile
Labels: make

#3423 Sort stream partitions using binding parameter
  deps/rabbitmq_stream/BUILD.bazel
  deps/rabbitmq_stream/src/rabbit_stream_manager.erl
  deps/rabbitmq_stream/src/rabbit_stream_reader.erl
  deps/rabbitmq_stream/src/rabbit_stream_utils.erl
  deps/rabbitmq_stream/test/rabbit_stream_utils_SUITE.erl
Labels: bazel

#3440 Use the deterministic compiler flag for elixir/rabbitmq_cli
  deps/rabbitmq_cli/rabbitmqctl.bzl
  deps/rabbitmq_cli/rabbitmqctl_test.bzl
Labels: bazel, backport-v3.9.x

#3443 Split the feature_flags_SUITE into two parts for CI/Bazel
  deps/rabbit/BUILD.bazel
  deps/rabbit/test/feature_flags_SUITE.erl
  deps/rabbit/test/feature_flags_with_unpriveleged_user_SUITE.erl
Labels: bazel, backport-v3.9.x, backport-v3.8.x

#3442 Use the +deterministic compiler flag when building with Make
  deps/rabbit_common/mk/rabbitmq-build.mk
  deps/rabbitmq_cli/Makefile
  release-notes/3.9.7.md
Labels: make, backport-v3.9.x

#3448 Quorum Queue consumer cancellation fixes
  deps/rabbit/src/rabbit_fifo.erl
  deps/rabbit/test/rabbit_fifo_SUITE.erl
Labels: backport-v3.9.x, backport-v3.8.x

#3470 Stream coordinator: monitor task processes
  deps/rabbit/src/rabbit_stream_coordinator.erl
Labels: backport-v3.9.x

#3469 Upgrade to Observer CLI 1.7.1
  deps/rabbitmq_cli/Makefile
  deps/rabbitmq_cli/mix.exs
  rabbitmq-components.mk
  release-notes/3.8.23.md
  release-notes/3.9.7.md
  workspace_helpers.bzl
Labels: bazel, make, backport-v3.9.x, backport-v3.8.x

#3409 Increase classic queue shutdown timeout
  deps/rabbit/src/rabbit_amqqueue_sup.erl
  deps/rabbit_common/include/rabbit.hrl
  deps/rabbitmq_federation/test/queue_SUITE.erl
  release-notes/3.8.23.md
  release-notes/3.9.6.md
Labels: backport-v3.9.x, backport-v3.8.x

#3474 Use 3.8.22 in 3.8/3.9 mixed version testing
  WORKSPACE.bazel
  rabbitmq.bzl
Labels: bazel, backport-v3.9.x

#3480 Use a pinned version of rabbitmq-ct-[client-]helpers
  WORKSPACE.bazel
Labels: bazel, backport-v3.9.x, backport-v3.8.x

#3479 Use rabbitmq_ct_helpers to allocate prometheus port
  WORKSPACE.bazel
  deps/rabbitmq_prometheus/test/rabbit_prometheus_http_SUITE.erl
Labels: bazel, backport-v3.9.x, backport-v3.8.x

#3496 Adopt latest rabbitmq-server-buildenv:linux-erlang-23.3 for RBE
  BUILD.bazel
Labels: bazel, backport-v3.9.x, backport-v3.8.x

#3500 Adopt otp 24.1 for OCI workflow
  packaging/docker-image/otp-versions/otp-max.yaml
Labels: backport-v3.9.x, backport-v3.8.x

#3509 Handle no-context delivery in web stomp
  deps/rabbitmq_stomp/src/rabbit_stomp_processor.erl
  deps/rabbitmq_web_stomp/src/rabbit_web_stomp_handler.erl
Labels: backport-v3.9.x

#3515 Update Osiris to 1.2.1
  deps/rabbit/Makefile
Labels: make

#3517 Reuse list of nodes in peer discovery plugins that use Erlang global locks
  deps/rabbit/src/rabbit_peer_discovery_classic_config.erl
  deps/rabbitmq_peer_discovery_aws/src/rabbit_peer_discovery_aws.erl
  deps/rabbitmq_peer_discovery_aws/test/unit_SUITE.erl
  deps/rabbitmq_peer_discovery_k8s/src/rabbit_peer_discovery_k8s.erl
  deps/rabbitmq_peer_discovery_k8s/test/rabbitmq_peer_discovery_k8s_SUITE.erl
Labels: backport-v3.9.x

#3520 Emit identity info in prometheus /metrics/detailed endpoint
  deps/rabbitmq_prometheus/src/collectors/prometheus_rabbitmq_core_metrics_collector.erl
  deps/rabbitmq_prometheus/test/rabbit_prometheus_http_SUITE.erl
Labels: backport-v3.9.x

#3525 Fix handling of priv dirs for external deps
  rabbitmq_home.bzl
Labels: bazel, backport-v3.9.x, backport-v3.8.x
