Repository rabbitmq/rabbitmq-server, pull requests merged in 2023-01, with the labels that each got.

#6790 Filter out nodes in maintenance in stream metadata
  deps/rabbit/src/rabbit_stream_sac_coordinator.erl
  deps/rabbitmq_stream/src/rabbit_stream_manager.erl
  deps/rabbitmq_stream/src/rabbit_stream_reader.erl
  deps/rabbitmq_stream/test/rabbit_stream_SUITE.erl
Labels: backport-v3.10.x, backport-v3.11.x

#6684 Reduce memory by multiple GBs with many classic queues
  deps/rabbit/BUILD.bazel
  deps/rabbit/src/rabbit_classic_queue_index_v2.erl
  deps/rabbit/src/rabbit_classic_queue_store_v2.erl
  deps/rabbit/src/rabbit_file.erl
  deps/rabbit/src/rabbit_msg_store.erl
  deps/rabbit/src/rabbit_msg_store_ets_index.erl
  deps/rabbit/src/rabbit_variable_queue.erl
  deps/rabbit/test/rabbit_stream_queue_SUITE.erl
  deps/rabbit/test/unicode_SUITE.erl
Labels: bazel, backport-v3.11.x

#6797 3.10.14 release notes
  release-notes/3.10.14.md
Labels: backport-v3.10.x, backport-v3.11.x

#6799 3.11.6 release notes
  release-notes/3.11.6.md
Labels: backport-v3.11.x

#6682 Feature flags: Add virgin node init support to v2 code path
  deps/rabbit/src/rabbit_feature_flags.erl
  deps/rabbit/src/rabbit_ff_controller.erl
Labels: bazel

#6807 erlang_ls workaround for bazel
  .bazelignore
  .gitignore
  BUILD.bazel
  MODULE.bazel
  erlang_ls.config
  tools/BUILD.bazel
  tools/erlang_ls.bzl
Labels: bazel, backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6810 Feature flags: Make feature flags v2 required
  deps/rabbit/BUILD.bazel
  deps/rabbit/src/rabbit.erl
  deps/rabbit/src/rabbit_core_ff.erl
  deps/rabbit/src/rabbit_feature_flags.erl
  deps/rabbit/src/rabbit_ff_controller.erl
  deps/rabbit/src/rabbit_ff_registry.erl
  deps/rabbit/src/rabbit_ff_registry_factory.erl
  deps/rabbit/src/rabbit_log_feature_flags.erl
  deps/rabbit/test/feature_flags_SUITE.erl
  deps/rabbit/test/feature_flags_v2_SUITE.erl
  deps/rabbit/test/feature_flags_with_unpriveleged_user_SUITE.erl
  deps/rabbit/test/unit_config_value_encryption_SUITE.erl
  deps/rabbitmq_ct_helpers/src/rabbit_ct_broker_helpers.erl
  rabbitmq.bzl
Labels: bazel

#6789 Fix connection linger for WebSTOMP
  deps/rabbitmq_web_stomp/src/rabbit_web_stomp_handler.erl
  deps/rabbitmq_web_stomp/test/cowboy_websocket_SUITE.erl
Labels: backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6844 Adopt otp 25.1.2
  MODULE.bazel
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6841 Adopt otp 24.3.4.7
  MODULE.bazel
Labels: bazel, backport-v3.9.x

#6847 Fix migration for direct_exchange_routing_v2
  deps/rabbit/src/rabbit_core_ff.erl
Labels: backport-v3.11.x

#6835 Handle the body is undefined from AMQP 1.0 to AMQP 091
  deps/rabbit/src/rabbit_msg_record.erl
Labels: backport-v3.10.x, backport-v3.11.x

#6872 Update prometheus.erl to 4.10.0
  MODULE.bazel
  deps/rabbitmq_prometheus/test/rabbit_prometheus_http_SUITE.erl
  rabbitmq-components.mk
  workspace_helpers.bzl
Labels: bazel, make, backport-v3.10.x, backport-v3.11.x

#6871 Conform vhost tags to a list when set with the cli in all cases
  deps/rabbit/src/vhost.erl
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/add_vhost_command.ex
  deps/rabbitmq_cli/test/ctl/add_vhost_command_test.exs
Labels: backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6879 Fix all dialyzer warnings in rabbitmq_prometheus
  deps/rabbitmq_prometheus/BUILD.bazel
  deps/rabbitmq_prometheus/src/collectors/prometheus_process_collector.erl
  deps/rabbitmq_prometheus/src/collectors/prometheus_rabbitmq_alarm_metrics_collector.erl
  deps/rabbitmq_prometheus/src/collectors/prometheus_rabbitmq_core_metrics_collector.erl
  deps/rabbitmq_prometheus/src/rabbit_prometheus_app.erl
  deps/rabbitmq_prometheus/src/rabbit_prometheus_handler.erl
Labels: bazel, backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6880 Fix all dialyzer warnings in `amqp_client`
  deps/amqp_client/BUILD.bazel
  deps/amqp_client/src/amqp_channel.erl
  deps/amqp_client/src/amqp_channels_manager.erl
  deps/amqp_client/src/amqp_client.erl
  deps/amqp_client/src/amqp_connection.erl
  deps/amqp_client/src/amqp_gen_connection.erl
  deps/amqp_client/src/amqp_gen_consumer.erl
  deps/amqp_client/src/amqp_network_connection.erl
Labels: bazel, backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6893 Update 3.10.14 release notes
  release-notes/3.10.14.md
Labels: backport-v3.10.x, backport-v3.11.x

#6896 3.9.28 release notes
  release-notes/3.9.28.md
Labels: backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6900 3.11.7 release notes
  release-notes/3.11.7.md
Labels: backport-v3.11.x

#6903 Fix all dialyzer warnings in rabbitmq_federation
  deps/rabbitmq_federation/BUILD.bazel
  deps/rabbitmq_federation/src/rabbit_federation_exchange.erl
  deps/rabbitmq_federation/src/rabbit_federation_exchange_link.erl
  deps/rabbitmq_federation/src/rabbit_federation_exchange_link_sup_sup.erl
  deps/rabbitmq_federation/src/rabbit_federation_link_sup.erl
  deps/rabbitmq_federation/src/rabbit_federation_link_util.erl
  deps/rabbitmq_federation/src/rabbit_federation_queue.erl
  deps/rabbitmq_federation/src/rabbit_federation_queue_link.erl
  deps/rabbitmq_federation/src/rabbit_federation_queue_link_sup_sup.erl
Labels: bazel, backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6902 Fix all dialyzer warnings in rabbitmq_stream
  deps/rabbit/src/rabbit_binding.erl
  deps/rabbit/src/rabbit_channel.erl
  deps/rabbit/src/rabbit_exchange.erl
  deps/rabbit/src/rabbit_queue_type.erl
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/info_keys.ex
  deps/rabbitmq_stream/BUILD.bazel
  deps/rabbitmq_stream/src/Elixir.RabbitMQ.CLI.Ctl.Commands.AddSuperStreamCommand.erl
  deps/rabbitmq_stream/src/rabbit_stream.erl
  deps/rabbitmq_stream/src/rabbit_stream_manager.erl
  deps/rabbitmq_stream/src/rabbit_stream_metrics.erl
  deps/rabbitmq_stream/src/rabbit_stream_metrics_gc.erl
  deps/rabbitmq_stream/src/rabbit_stream_reader.erl
  deps/rabbitmq_stream_common/src/rabbit_stream_core.erl
  deps/rabbitmq_stream_management/BUILD.bazel
  deps/rabbitmq_stream_management/src/rabbit_stream_connections_mgmt.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6913 Fix all dialyzer warnings in rabbitmq_amqp1_0
  deps/rabbit/src/rabbit_reader.erl
  deps/rabbitmq_amqp1_0/BUILD.bazel
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_message.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_reader.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_session_process.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_session_sup.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_session_sup_sup.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_util.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_writer.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6917 Use rules_erlang 3.9.0
  .bazelrc
  MODULE.bazel
  WORKSPACE
  bazel/elixir/elixir_toolchain.bzl
  rabbitmq.bzl
Labels: bazel, backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6922 Adopt otp 24.3.4.8
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.9.x

#6923 Adopt otp 25.2.1
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6862 Move nopush to reader to try to better make use of packets
  MODULE.bazel
  deps/rabbit/Makefile
  deps/rabbitmq_stream/src/rabbit_stream_reader.erl
  workspace_helpers.bzl
Labels: bazel, make, backport-v3.11.x

#6928 Simplify BUILD files by using new macros from rules_erlang 3.9.0
  deps/amqp10_client/BUILD.bazel
  deps/amqp10_common/BUILD.bazel
  deps/amqp_client/BUILD.bazel
  deps/rabbit/BUILD.bazel
  deps/rabbit_common/BUILD.bazel
  deps/rabbitmq_amqp1_0/BUILD.bazel
  deps/rabbitmq_auth_backend_cache/BUILD.bazel
  deps/rabbitmq_auth_backend_http/BUILD.bazel
  deps/rabbitmq_auth_backend_ldap/BUILD.bazel
  deps/rabbitmq_auth_backend_oauth2/BUILD.bazel
  deps/rabbitmq_consistent_hash_exchange/BUILD.bazel
  deps/rabbitmq_event_exchange/BUILD.bazel
  deps/rabbitmq_federation/BUILD.bazel
  deps/rabbitmq_federation_management/BUILD.bazel
  deps/rabbitmq_jms_topic_exchange/BUILD.bazel
  deps/rabbitmq_management/BUILD.bazel
  deps/rabbitmq_management_agent/BUILD.bazel
  deps/rabbitmq_mqtt/BUILD.bazel
  deps/rabbitmq_peer_discovery_aws/BUILD.bazel
  deps/rabbitmq_peer_discovery_common/BUILD.bazel
  deps/rabbitmq_peer_discovery_consul/BUILD.bazel
  deps/rabbitmq_peer_discovery_etcd/BUILD.bazel
  deps/rabbitmq_peer_discovery_k8s/BUILD.bazel
  deps/rabbitmq_prometheus/BUILD.bazel
  deps/rabbitmq_random_exchange/BUILD.bazel
  deps/rabbitmq_recent_history_exchange/BUILD.bazel
  deps/rabbitmq_sharding/BUILD.bazel
  deps/rabbitmq_shovel/BUILD.bazel
  deps/rabbitmq_shovel_management/BUILD.bazel
  deps/rabbitmq_stomp/BUILD.bazel
  deps/rabbitmq_stream/BUILD.bazel
  deps/rabbitmq_stream_common/BUILD.bazel
  deps/rabbitmq_stream_management/BUILD.bazel
  deps/rabbitmq_top/BUILD.bazel
  deps/rabbitmq_tracing/BUILD.bazel
  deps/rabbitmq_trust_store/BUILD.bazel
  deps/rabbitmq_web_dispatch/BUILD.bazel
  deps/rabbitmq_web_mqtt/BUILD.bazel
  deps/rabbitmq_web_mqtt_examples/BUILD.bazel
  deps/rabbitmq_web_stomp/BUILD.bazel
  deps/rabbitmq_web_stomp_examples/BUILD.bazel
  deps/trust_store_http/BUILD.bazel
  rabbitmq.bzl
Labels: bazel

#6940 Fix all dialyzer warnings in rabbitmq_management_agent
  deps/rabbitmq_management_agent/src/rabbit_mgmt_external_stats.erl
  deps/rabbitmq_management_agent/src/rabbit_mgmt_metrics_collector.erl
Labels: backport-v3.10.x, backport-v3.11.x

#6943 Fix all dialyzer warnings in rabbitmq_web_dispatch
  deps/rabbitmq_web_dispatch/BUILD.bazel
  deps/rabbitmq_web_dispatch/src/webmachine_log.erl
  deps/rabbitmq_web_dispatch/src/webmachine_log_handler.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6938 Fix all dialyzer warnings in rabbitmq_management
  deps/rabbit/src/rabbit_alarm.erl
  deps/rabbitmq_management/BUILD.bazel
  deps/rabbitmq_management/src/rabbit_mgmt_db.erl
  deps/rabbitmq_management/src/rabbit_mgmt_db_cache.erl
  deps/rabbitmq_management/src/rabbit_mgmt_util.erl
  deps/rabbitmq_management/src/rabbit_mgmt_wm_definitions.erl
  deps/rabbitmq_management/src/rabbit_mgmt_wm_user.erl
  deps/rabbitmq_management_agent/src/rabbit_mgmt_data_compat.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6932 Adopt otp 25.1.2.1
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6952 Fix all dialyzer warnings in auth backends
  deps/rabbitmq_auth_backend_http/BUILD.bazel
  deps/rabbitmq_auth_backend_http/src/rabbit_auth_backend_http.erl
  deps/rabbitmq_auth_backend_ldap/BUILD.bazel
  deps/rabbitmq_auth_backend_oauth2/BUILD.bazel
  deps/rabbitmq_auth_backend_oauth2/src/Elixir.RabbitMQ.CLI.Ctl.Commands.AddUaaKeyCommand.erl
  deps/rabbitmq_auth_backend_oauth2/src/rabbit_auth_backend_oauth2.erl
  deps/rabbitmq_auth_backend_oauth2/src/rabbit_oauth2_scope.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6958 Fix all dialyzer warnings in rabbitmq_sharding
  deps/rabbit/src/rabbit_amqqueue.erl
  deps/rabbitmq_sharding/src/rabbit_sharding_exchange_decorator.erl
  deps/rabbitmq_sharding/src/rabbit_sharding_interceptor.erl
  deps/rabbitmq_sharding/src/rabbit_sharding_shard.erl
Labels: backport-v3.10.x, backport-v3.11.x

#6956 Fix all dialyzer warnings in rabbitmq_web_mqtt
  deps/rabbitmq_mqtt/src/rabbit_mqtt_processor.erl
  deps/rabbitmq_web_mqtt/BUILD.bazel
  deps/rabbitmq_web_mqtt/src/rabbit_web_mqtt_app.erl
  deps/rabbitmq_web_mqtt/src/rabbit_web_mqtt_handler.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6963 Change `alias` to `test_suite` in deps/rabbitmq_cli/BUILD.bazel
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel, backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6973 Fix all dialyzer warnings in rabbitmq_recent_history_exchange
  deps/rabbitmq_recent_history_exchange/BUILD.bazel
  deps/rabbitmq_recent_history_exchange/src/rabbit_exchange_type_recent_history.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6978 Fix incorrect default value for exchange subscription
  deps/rabbitmq_stomp/src/rabbit_stomp_util.erl
Labels: backport-v3.11.x

#6977 Fix all dialyzer warnings in AWS-related plugins
  deps/rabbitmq_aws/BUILD.bazel
  deps/rabbitmq_aws/include/rabbitmq_aws.hrl
  deps/rabbitmq_aws/src/rabbitmq_aws.erl
  deps/rabbitmq_aws/src/rabbitmq_aws_config.erl
  deps/rabbitmq_aws/src/rabbitmq_aws_urilib.erl
  deps/rabbitmq_aws/test/src/rabbitmq_aws_config_tests.erl
  deps/rabbitmq_peer_discovery_aws/BUILD.bazel
  deps/rabbitmq_peer_discovery_aws/src/rabbit_peer_discovery_aws.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#6919 Rework elixir dialyze
  bazel/elixir/elixir_as_app.bzl
  deps/rabbitmq_amqp1_0/BUILD.bazel
  deps/rabbitmq_amqp1_0/src/Elixir.RabbitMQ.CLI.Ctl.Commands.ListAmqp10ConnectionsCommand.erl
  deps/rabbitmq_auth_backend_oauth2/BUILD.bazel
  deps/rabbitmq_cli/lib/rabbitmq/cli/command_behaviour.ex
  deps/rabbitmq_cli/rabbitmqctl.bzl
  deps/rabbitmq_consistent_hash_exchange/BUILD.bazel
  deps/rabbitmq_federation/BUILD.bazel
  deps/rabbitmq_management/BUILD.bazel
  deps/rabbitmq_management_agent/BUILD.bazel
  deps/rabbitmq_mqtt/BUILD.bazel
  deps/rabbitmq_shovel/BUILD.bazel
  deps/rabbitmq_stomp/BUILD.bazel
  deps/rabbitmq_stream/BUILD.bazel
  deps/rabbitmq_stream/src/Elixir.RabbitMQ.CLI.Ctl.Commands.AddSuperStreamCommand.erl
  deps/rabbitmq_stream/src/Elixir.RabbitMQ.CLI.Ctl.Commands.DeleteSuperStreamCommand.erl
  deps/rabbitmq_stream/src/Elixir.RabbitMQ.CLI.Ctl.Commands.ListStreamConnectionsCommand.erl
  deps/rabbitmq_stream/src/Elixir.RabbitMQ.CLI.Ctl.Commands.ListStreamConsumerGroupsCommand.erl
  deps/rabbitmq_stream/src/Elixir.RabbitMQ.CLI.Ctl.Commands.ListStreamConsumersCommand.erl
  deps/rabbitmq_stream/src/Elixir.RabbitMQ.CLI.Ctl.Commands.ListStreamGroupConsumersCommand.erl
  deps/rabbitmq_stream/src/Elixir.RabbitMQ.CLI.Ctl.Commands.ListStreamPublishersCommand.erl
  dist.bzl
  rabbitmq.bzl
Labels: bazel, backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6993 Secondary umbrella: bump to 3.11.7
  bazel/bzlmod/secondary_umbrella.bzl
Labels: bazel

#6994 Update etcd testing version
  deps/rabbitmq_peer_discovery_etcd/test/system_SUITE_data/init-etcd.sh
Labels: backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#7000 Fix all dialyzer warnings in peer discovery plugins
  MODULE.bazel
  deps/rabbit_common/src/rabbit_json.erl
  deps/rabbitmq_peer_discovery_common/BUILD.bazel
  deps/rabbitmq_peer_discovery_common/src/rabbit_peer_discovery_httpc.erl
  deps/rabbitmq_peer_discovery_common/src/rabbit_peer_discovery_util.erl
  deps/rabbitmq_peer_discovery_consul/BUILD.bazel
  deps/rabbitmq_peer_discovery_consul/include/rabbit_peer_discovery_consul.hrl
  deps/rabbitmq_peer_discovery_consul/src/rabbit_peer_discovery_consul.erl
  deps/rabbitmq_peer_discovery_consul/src/rabbitmq_peer_discovery_consul_health_check_helper.erl
  deps/rabbitmq_peer_discovery_consul/test/rabbitmq_peer_discovery_consul_SUITE.erl
  deps/rabbitmq_peer_discovery_etcd/BUILD.bazel
  deps/rabbitmq_peer_discovery_etcd/src/rabbit_peer_discovery_etcd.erl
  deps/rabbitmq_peer_discovery_etcd/src/rabbitmq_peer_discovery_etcd.erl
  deps/rabbitmq_peer_discovery_etcd/src/rabbitmq_peer_discovery_etcd_v3_client.erl
  deps/rabbitmq_peer_discovery_k8s/BUILD.bazel
  deps/rabbitmq_peer_discovery_k8s/src/rabbit_peer_discovery_k8s.erl
  deps/rabbitmq_peer_discovery_k8s/src/rabbitmq_peer_discovery_k8s_node_monitor.erl
  rabbitmq-components.mk
Labels: bazel, make, backport-v3.10.x, backport-v3.11.x

#7002 Fix all dialyzer warnings in rabbitmq_jms_topic_exchange
  deps/rabbitmq_jms_topic_exchange/BUILD.bazel
  deps/rabbitmq_jms_topic_exchange/src/rabbit_jms_topic_exchange.erl
  deps/rabbitmq_jms_topic_exchange/src/sjx_evaluator.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#7003 See #5957. CLI cmd to generate hashed password from cleartext password
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/hash_password_command.ex
  deps/rabbitmq_cli/test/ctl/hash_password_command_test.exs
  deps/rabbitmq_cli/test/test_helper.exs
Labels: backport-v3.10.x, backport-v3.11.x

#7004 See #5957. HTTP api to generate hashed password from cleartext password
  deps/rabbitmq_management/src/rabbit_mgmt_dispatcher.erl
  deps/rabbitmq_management/src/rabbit_mgmt_wm_hash_password.erl
  deps/rabbitmq_management/test/rabbit_mgmt_http_SUITE.erl
Labels: backport-v3.10.x, backport-v3.11.x

#7016 Update the image reference in the AWS integration suite
  .github/workflows/rabbitmq_peer_discovery_aws.yaml
Labels: backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#6935 Use gazelle for external erlang deps
  .github/workflows/test-windows.yaml
  BAZEL.md
  BUILD.bazel
  BUILD.inet_tcp_proxy
  BUILD.jose
  BUILD.ranch
  MODULE.bazel
  WORKSPACE
  bazel/BUILD.accept
  bazel/BUILD.aten
  bazel/BUILD.base64url
  bazel/BUILD.bazel
  bazel/BUILD.cowboy
  bazel/BUILD.cowlib
  bazel/BUILD.credentials_obfuscation
  bazel/BUILD.ct_helper
  bazel/BUILD.cuttlefish
  bazel/BUILD.eetcd
  bazel/BUILD.emqtt
  bazel/BUILD.enough
  bazel/BUILD.gen_batch_server
  bazel/BUILD.getopt
  bazel/BUILD.gun
  bazel/BUILD.jose
  bazel/BUILD.meck
  bazel/BUILD.observer_cli
  bazel/BUILD.prometheus
  bazel/BUILD.proper
  bazel/BUILD.quantile_estimator
  bazel/BUILD.ra
  bazel/BUILD.ranch
  bazel/BUILD.recon
  bazel/BUILD.redbug
  bazel/BUILD.seshat
  bazel/BUILD.stdout_formatter
  bazel/BUILD.sysmon_handler
  bazel/BUILD.systemd
  bazel/BUILD.thoas
  moduleindex.yaml
  workspace_helpers.bzl
Labels: bazel

#6881 Fix all dialyzer warnings in `rabbitmq_stomp`
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/info_keys.ex
  deps/rabbitmq_stomp/BUILD.bazel
  deps/rabbitmq_stomp/src/rabbit_stomp_internal_event_handler.erl
  deps/rabbitmq_stomp/src/rabbit_stomp_reader.erl
  deps/rabbitmq_stomp/src/rabbit_stomp_sup.erl
Labels: bazel, backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#7040 Fix empty channel detail format in management api
  deps/rabbitmq_management_agent/src/rabbit_mgmt_format.erl
Labels: backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#7046 Adopt otp 25.2.1
  MODULE.bazel
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#7042 Adopt otp 24.3.4.8
  MODULE.bazel
Labels: bazel, backport-v3.9.x

#6990 Fix Users filtering in Management UI
  .gitignore
  deps/rabbitmq_management/priv/www/js/dispatcher.js
  deps/rabbitmq_management/priv/www/js/main.js
  deps/rabbitmq_management/priv/www/js/tmpl/limits.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/permissions.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/topic-permissions.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/users.ejs
  deps/rabbitmq_management/selenium/test/pageobjects/AdminTab.js
  deps/rabbitmq_management/src/rabbit_mgmt_wm_users.erl
Labels: backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#7060 See #5957. Accept empty arg and prompt for password
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/hash_password_command.ex
  deps/rabbitmq_cli/test/ctl/hash_password_command_test.exs
Labels: backport-v3.10.x, backport-v3.11.x

#7039 Ensure that a timeout closes exe port on win32
  deps/rabbit_common/src/rabbit_misc.erl
Labels: backport-v3.11.x

#7070 Reference BUILD.lib_name files with full label in MODULE.bazel
  MODULE.bazel
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#7015 Fixes a memory leak in AMQP 1.0 plugin
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_reader.erl
  deps/rabbitmq_amqp1_0/test/system_SUITE_data/console/Program.cs
Labels: backport-v3.9.x, backport-v3.10.x, backport-v3.11.x

#7077 Bump Thoas to 1.0.0
  MODULE.bazel
  rabbitmq-components.mk
Labels: bazel, make, backport-v3.11.x

#7089 3.11.8 release notes
  release-notes/3.11.7.md
  release-notes/3.11.8.md
Labels: backport-v3.11.x

#7091 Set MQTT max packet size
  .git-blame-ignore-revs
  deps/rabbitmq_mqtt/src/rabbit_mqtt_packet.erl
  deps/rabbitmq_mqtt/src/rabbit_mqtt_reader.erl
  deps/rabbitmq_mqtt/test/shared_SUITE.erl
  deps/rabbitmq_mqtt/test/util.erl
  deps/rabbitmq_web_mqtt/src/rabbit_web_mqtt_handler.erl
Labels: rabbitmq-web-mqtt, rabbitmq-mqtt

#7079 Fix direct_exchange_routing_v2 migration
  deps/rabbit/src/rabbit_core_ff.erl
  deps/rabbit/src/rabbit_table.erl
Labels: bug, backport-v3.11.x

#7095 Remove MQTT processor field peer_addr
  deps/rabbitmq_mqtt/src/rabbit_mqtt_processor.erl
  deps/rabbitmq_mqtt/src/rabbit_mqtt_util.erl
  deps/rabbitmq_web_mqtt/src/rabbit_web_mqtt_handler.erl
Labels: rabbitmq-web-mqtt, rabbitmq-mqtt

#7108 Backport a CT broker helper fix from #5895
  deps/rabbitmq_ct_helpers/src/rabbit_ct_broker_helpers.erl
Labels: backport-v3.10.x

#7111 Adopt otp 25.2.2
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#7066 Add rabbitmq_cli dialyze to bazel
  MODULE.bazel
  WORKSPACE
  deps/rabbit_common/src/rabbit_misc.erl
  deps/rabbitmq_cli/BUILD.bazel
  deps/rabbitmq_cli/lib/rabbitmq/cli/command_behaviour.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/code_path.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/command_modules.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/helpers.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/input.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/memory.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/networking.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/parser.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/exec_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/export_definitions_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/forget_cluster_node_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/help_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/import_definitions_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/list_channels_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/wait_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/info_keys.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/rpc_stream.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/diagnostics/commands/erlang_cookie_sources_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/diagnostics/commands/observer_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/formatters/report.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/formatters/string_per_line.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/plugins/plugins_helpers.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/queues/commands/peek_command.ex
  deps/rabbitmq_cli/lib/rabbitmqctl.ex
  deps/rabbitmq_cli/rabbitmqctl.bzl
  deps/rabbitmq_cli/rabbitmqctl_test.bzl
Labels: bazel, backport-v3.10.x, backport-v3.11.x

#7001 Mark AMQP 1.0 properties chunk as binary
  deps/rabbit/src/rabbit_msg_record.erl
  deps/rabbit/test/rabbit_msg_record_SUITE.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_message.erl
Labels: backport-v3.11.x

#6931 Support OAuth 2.0 authentication in AMQP 1.0 plugin
  deps/rabbit/src/rabbit_auth_backend_internal.erl
  deps/rabbit/src/rabbit_direct.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_reader.erl
  deps/rabbitmq_amqp1_0/src/rabbit_amqp1_0_session_sup.erl
  deps/rabbitmq_auth_backend_oauth2/src/rabbit_auth_backend_oauth2.erl
  deps/rabbitmq_auth_backend_oauth2/test/unit_SUITE.erl
Labels: backport-v3.11.x

#7128 3.10.17 release notes
  release-notes/3.10.17.md
Labels: backport-v3.10.x, backport-v3.11.x
