Repository rabbitmq/rabbitmq-server, pull requests merged in 2023-05, with the labels that each got.

#8077 Coerce default policy ha-mode and ha-sync-mode to binaries
  deps/rabbit/priv/schema/rabbit.schema
  deps/rabbit/test/config_schema_SUITE_data/rabbit.snippets
Labels: backport-v3.11.x, backport-v3.12.x

#8080 Improve validation of commands that accept replica candidate nodes as arguments
  deps/rabbit/test/rabbitmq_queues_cli_integration_SUITE.erl
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/exit_codes.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/helpers.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/core/validators.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/queues/commands/add_member_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/queues/commands/delete_member_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/queues/commands/grow_command.ex
  deps/rabbitmq_cli/lib/rabbitmqctl.ex
Labels: backport-v3.11.x, backport-v3.12.x

#8083 Regenerate BUILD.cowboy for cowboy 2.12.0
  bazel/BUILD.cowboy
Labels: backport-v3.12.x

#8100 OTP26: resolve some of the dialyzer warnings
  MODULE.bazel
  bazel/BUILD.credentials_obfuscation
  deps/rabbit/BUILD.bazel
  deps/rabbit/src/rabbit_fifo.hrl
  deps/rabbit/src/rabbit_fifo_dlx.hrl
  deps/rabbit/src/rabbit_recovery_terms.erl
Labels: bazel, backport-v3.12.x, erlang-26

#8098 Add MQTT client id to connection closed event
  deps/rabbitmq_mqtt/include/rabbit_mqtt.hrl
  deps/rabbitmq_mqtt/src/rabbit_mqtt_processor.erl
  deps/rabbitmq_mqtt/src/rabbit_mqtt_reader.erl
  deps/rabbitmq_mqtt/test/shared_SUITE.erl
  deps/rabbitmq_web_mqtt/src/rabbit_web_mqtt_handler.erl
Labels: backport-v3.12.x

#8103 Bump Osiris to 1.5.1
  MODULE.bazel
  deps/rabbit/Makefile
Labels: bazel, make, backport-v3.12.x

#8106 bazel run gazelle
  deps/rabbit/BUILD.bazel
Labels: bazel, backport-v3.11.x, backport-v3.12.x

#8102 Support TLS-only listener for Prometheus
  deps/rabbitmq_prometheus/BUILD.bazel
  deps/rabbitmq_prometheus/Makefile
  deps/rabbitmq_prometheus/priv/schema/rabbitmq_prometheus.schema
  deps/rabbitmq_prometheus/src/rabbit_prometheus_app.erl
  deps/rabbitmq_prometheus/test/config_schema_SUITE_data/rabbitmq_prometheus.snippets
Labels: bazel, make, backport-v3.11.x, backport-v3.12.x

#8115 Adopt otp 25.3.2
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8123 Peer discovery: shrink QQ replicas on forced node removal
  deps/rabbitmq_peer_discovery_common/src/rabbit_peer_discovery_cleanup.erl
Labels: backport-v3.11.x, backport-v3.12.x

#8130 Correctly use AMQP URI query parameter `password`
  deps/amqp_client/src/amqp_uri.erl
  deps/amqp_client/test/unit_SUITE.erl
Labels: backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8140 Synchronise feature flags before any changes to Mnesia membership
  deps/rabbit/src/rabbit_mnesia.erl
Labels: bug

#8143 Pin Ra to 2.6.1
  MODULE.bazel
  rabbitmq-components.mk
Labels: bazel, make, backport-v3.11.x, backport-v3.12.x

#8145 Update 3.12.0 release notes
  release-notes/3.12.0.md
Labels: backport-v3.12.x

#8148 rabbitmq_cli dialyze enhancements
  .github/workflows/test-mixed-versions.yaml
  .github/workflows/test-selenium.yaml
  .github/workflows/test.yaml
  BUILD.bazel
  MODULE.bazel
  WORKSPACE
  bazel/elixir/BUILD.bazel
  bazel/elixir/elixir_as_app.bzl
  bazel/elixir/mix_archive_build.bzl
  deps/rabbitmq_cli/BUILD.bazel
  deps/rabbitmq_cli/rabbitmqctl.bzl
  deps/rabbitmq_cli/rabbitmqctl_test.bzl
  dist.bzl
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8156 bazel run gazelle-update-repos for Ra 2.6
  bazel/BUILD.ra
Labels: backport-v3.12.x

#8160 3.11.16 release notes
  release-notes/3.11.16.md
Labels: backport-v3.11.x, backport-v3.12.x

#8172 Adopt otp
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8171 Adopt otp
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8169 Adopt otp
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8167 Adopt otp 25.3.2
  WORKSPACE
Labels: backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8170 Adopt otp
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8189 UnsubscribeResponse in stream protocol doc
  deps/rabbitmq_stream/docs/PROTOCOL.adoc
Labels: backport-v3.11.x, backport-v3.12.x

#8187 Exclude nested deps fetched by make from gazelle
  BUILD.bazel
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8196 Also exclude the .erlang.mk directory in gazelle
  BUILD.bazel
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8188 Move plugin rabbitmq-message-timestamp to the core
  deps/rabbit/BUILD.bazel
  deps/rabbit/app.bzl
  deps/rabbit/priv/schema/rabbit.schema
  deps/rabbit/src/rabbit.erl
  deps/rabbit/src/rabbit_channel.erl
  deps/rabbit/src/rabbit_message_interceptor.erl
  deps/rabbit/test/config_schema_SUITE_data/rabbit.snippets
  deps/rabbit/test/rabbit_message_interceptor_SUITE.erl
  deps/rabbitmq_mqtt/src/rabbit_mqtt_processor.erl
  deps/rabbitmq_mqtt/test/shared_SUITE.erl
  moduleindex.yaml
Labels: rabbitmq-mqtt, bazel, backport-v3.12.x

#8084 Github Actions pipeline to compare build systems nightly
  .github/workflows/check-build-system-equivalence.yaml
  BUILD.bazel
  MODULE.bazel
  bazel/BUILD.ranch
  deps/amqp10_client/BUILD.bazel
  deps/amqp10_client/Makefile
  deps/amqp10_common/BUILD.bazel
  deps/rabbit/BUILD.bazel
  deps/rabbit/app.bzl
  deps/rabbit_common/Makefile
  deps/rabbitmq_auth_backend_http/BUILD.bazel
  deps/rabbitmq_auth_backend_ldap/Makefile
  deps/rabbitmq_auth_backend_oauth2/Makefile
  deps/rabbitmq_auth_mechanism_ssl/Makefile
  deps/rabbitmq_aws/Makefile
  deps/rabbitmq_federation_management/Makefile
  deps/rabbitmq_jms_topic_exchange/Makefile
  deps/rabbitmq_management/BUILD.bazel
  deps/rabbitmq_mqtt/Makefile
  deps/rabbitmq_prometheus/BUILD.bazel
  deps/rabbitmq_prometheus/Makefile
  deps/rabbitmq_stream/Makefile
  deps/rabbitmq_trust_store/Makefile
  deps/rabbitmq_web_mqtt/Makefile
  dist.bzl
  rabbitmq.bzl
  rabbitmq_home.bzl
  tools/compare_dist.sh
  tools/erlang_app_equal
Labels: bazel, make, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8001 Configure Oauth scope prefix
  deps/rabbitmq_auth_backend_oauth2/priv/schema/rabbitmq_auth_backend_oauth2.schema
  deps/rabbitmq_auth_backend_oauth2/src/rabbit_auth_backend_oauth2.erl
  deps/rabbitmq_auth_backend_oauth2/test/config_schema_SUITE_data/rabbitmq_auth_backend_oauth2.snippets
  deps/rabbitmq_auth_backend_oauth2/test/scope_SUITE.erl
  deps/rabbitmq_auth_backend_oauth2/test/unit_SUITE.erl
Labels: backport-v3.11.x, backport-v3.12.x

#8205 Use the latest rules_erlang
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8220 Adopt otp
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8219 Adopt otp
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8225 Fix filter for "Discarding message..." logs
  deps/rabbit/apps/rabbitmq_prelaunch/src/rabbit_prelaunch_early_logging.erl
Labels: backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8224 Use erlang 26.0 instead of rc3 in bazel
  .github/workflows/update-otp-patches.yaml
  MODULE.bazel
Labels: bazel, backport-v3.11.x, backport-v3.12.x

#8234 Adopt otp
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8238 Add ha-* operator policies to UI shortcuts
  deps/rabbitmq_management/priv/www/js/tmpl/policies.ejs
Labels: backport-v3.11.x, backport-v3.12.x

#8241 Show classic queue storage version on Mgmt UI queue page
  deps/rabbitmq_management/priv/www/js/formatters.js
Labels: backport-v3.11.x, backport-v3.12.x

#8236 Remove "lazy" from Management and lazy-specific tests
  deps/rabbit/BUILD.bazel
  deps/rabbit/Makefile
  deps/rabbit/app.bzl
  deps/rabbit/test/backing_queue_SUITE.erl
  deps/rabbit/test/channel_operation_timeout_test_queue.erl
  deps/rabbit/test/lazy_queue_SUITE.erl
  deps/rabbitmq_management/priv/www/js/global.js
  deps/rabbitmq_management/priv/www/js/tmpl/policies.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/queues.ejs
Labels: bazel, make, backport-v3.12.x

#8254 Fix Native MQTT crash if properties encoded
  deps/rabbitmq_mqtt/src/rabbit_mqtt_processor.erl
  deps/rabbitmq_mqtt/test/shared_SUITE.erl
Labels: bug, rabbitmq-mqtt, backport-v3.12.x

#8237 Fix 8223
  deps/rabbitmq_management/priv/www/js/dispatcher.js
  deps/rabbitmq_management/priv/www/js/global.js
  deps/rabbitmq_management/priv/www/js/main.js
  deps/rabbitmq_management/priv/www/js/oidc-oauth/helper.js
  deps/rabbitmq_management/priv/www/js/tmpl/exchanges.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/limits.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/policies.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/queues.ejs
  deps/rabbitmq_management/selenium/bin/start-rabbitmq.sh
  deps/rabbitmq_management/selenium/bin/stop-rabbitmq.sh
  deps/rabbitmq_management/selenium/bin/suite_template
  deps/rabbitmq_management/selenium/package.json
  deps/rabbitmq_management/selenium/screens/.gitkeep
  deps/rabbitmq_management/selenium/test/basic-auth/ac-administrator-without-vhost-permissions.js
  deps/rabbitmq_management/selenium/test/basic-auth/ac-management-without-vhost-permissions.js
  deps/rabbitmq_management/selenium/test/basic-auth/ac-management.js
  deps/rabbitmq_management/selenium/test/basic-auth/ac-monitoring-without-vhost-permissions.js
  deps/rabbitmq_management/selenium/test/basic-auth/enabled_plugins
  deps/rabbitmq_management/selenium/test/basic-auth/imports/users.json
  deps/rabbitmq_management/selenium/test/basic-auth/landing.js
  deps/rabbitmq_management/selenium/test/basic-auth/rabbitmq.conf
  deps/rabbitmq_management/selenium/test/exchanges/management.js
  deps/rabbitmq_management/selenium/test/mgt-only/enabled_plugins
  deps/rabbitmq_management/selenium/test/mgt-only/imports/users.json
  deps/rabbitmq_management/selenium/test/mgt-only/rabbitmq.conf
  deps/rabbitmq_management/selenium/test/pageobjects/AdminTab.js
  deps/rabbitmq_management/selenium/test/pageobjects/BasePage.js
Labels: backport-v3.12.x

#8258 OTP26.0-rc3 -> final; OTP master is 27
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.12.x

#8260 Consumer Timeout Follow-up
  deps/rabbit/src/rabbit_channel.erl
  deps/rabbit/test/consumer_timeout_SUITE.erl
  deps/rabbitmq_management/priv/www/js/global.js
  deps/rabbitmq_management/priv/www/js/tmpl/consumers.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/policies.ejs
  deps/rabbitmq_management_agent/src/rabbit_mgmt_data.erl
Labels: backport-v3.12.x

#8266 Lukebakken/fix hexpm publish v3.11.x
  deps/rabbit_common/Makefile
  rabbitmq-components.mk
Labels: make

#8265 Move dep_credentials_obfuscation to rabbitmq-components.mk
  deps/rabbit_common/Makefile
  rabbitmq-components.mk
Labels: make, backport-v3.12.x

#8271 Adopt elixir 1.14.5
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8277 Omit log if no channel closed
  deps/rabbit/src/rabbit_channel_tracking.erl
Labels: backport-v3.12.x

#8283 Adjust test cert generation in rabbitmq_ct_helpers
  deps/rabbitmq_ct_helpers/tools/tls-certs/openssl.cnf.in
Labels: backport-v3.11.x, backport-v3.12.x

#8289 Fix #8276
  deps/rabbitmq_management/priv/www/js/global.js
  deps/rabbitmq_management/priv/www/js/main.js
  deps/rabbitmq_management/priv/www/js/tmpl/queues.ejs
Labels: backport-v3.11.x, backport-v3.12.x

#8294 Add bazel build info for syslog dep
  MODULE.bazel
  bazel/BUILD.syslog
  moduleindex.yaml
Labels: bazel, backport-v3.11.x, backport-v3.12.x

#8303 Remove unused rabbit_http_util functions
  deps/rabbit_common/src/rabbit_http_util.erl
Labels: backport-v3.12.x

#8311 3.10.23 release notes
  release-notes/3.10.23.md
Labels: backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8313 3.11.17 release notes
  release-notes/3.11.17.md
Labels: backport-v3.11.x, backport-v3.12.x

#8298 Use the latest rules_erlang
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8282 Fix quorum queue queue federation bugs
  deps/rabbit/src/rabbit_fifo.erl
  deps/rabbit/test/rabbit_fifo_SUITE.erl
  deps/rabbitmq_federation/src/rabbit_federation_link_util.erl
  deps/rabbitmq_federation/src/rabbit_federation_queue_link.erl
  deps/rabbitmq_federation/src/rabbit_federation_upstream.erl
Labels: backport-v3.11.x, backport-v3.12.x

#8335 Emit only AMQP connections
  deps/rabbit/src/rabbit_networking.erl
Labels: bug, backport-v3.12.x

#8338 Revert "Don't kill the gatherer when there's a problem with a queue"
  deps/rabbit/src/rabbit_classic_queue_index_v2.erl
Labels: backport-v3.11.x, backport-v3.12.x

#8322 Disaster recovery: force shrink all quorum queues to a 1-node cluster
  deps/rabbit/BUILD.bazel
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit_quorum_queue.erl
  deps/rabbit/test/clustering_recovery_SUITE.erl
Labels: bazel

#8308 Default to classic queues v2
  deps/rabbit/BUILD.bazel
  deps/rabbit/Makefile
  deps/rabbit/priv/schema/rabbit.schema
  deps/rabbit/src/rabbit_amqqueue_process.erl
  deps/rabbit/src/rabbit_variable_queue.erl
  deps/rabbit/test/dynamic_ha_SUITE.erl
  release-notes/3.13.0.md
Labels: bazel, make

#8339 Handle missing guids on in node_monitor
  deps/rabbit/src/rabbit_node_monitor.erl
Labels: backport-v3.12.x

#8353 When available, use user-provided ip address for listener metadata
  deps/rabbitmq_web_dispatch/src/rabbit_web_dispatch_registry.erl
  deps/rabbitmq_web_mqtt/src/rabbit_web_mqtt_app.erl
  deps/rabbitmq_web_stomp/src/rabbit_web_stomp_listener.erl
Labels: backport-v3.11.x, backport-v3.12.x

#8359 Fix dialyzer warning in rabbit_quorum_queue.erl
  deps/rabbit/src/rabbit_quorum_queue.erl
Labels: backport-v3.12.x

#8361 Fix dialyzer warnings
  deps/rabbitmq_web_mqtt/src/rabbit_web_mqtt_app.erl
  deps/rabbitmq_web_stomp/src/rabbit_web_stomp_listener.erl
Labels: backport-v3.11.x, backport-v3.12.x

#8345 Use the new branch name for looking_glass
  rabbitmq-components.mk
Labels: make, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8348 Update CSV to 3.0.5; remove unused dep
  MODULE.bazel
  bazel/BUILD.csv
  bazel/BUILD.parallel_stream
  deps/rabbitmq_cli/BUILD.bazel
  deps/rabbitmq_cli/Makefile
  deps/rabbitmq_cli/mix.exs
  dist.bzl
Labels: bazel, make, backport-v3.11.x, backport-v3.12.x

#8358 Observer CLI plugins for QQs
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit_amqqueue.erl
  deps/rabbit/src/rabbit_observer_cli.erl
  deps/rabbit/src/rabbit_observer_cli_quorum_queues.erl
  moduleindex.yaml
Labels: bazel, backport-v3.11.x, backport-v3.12.x

#8375 3.12.0 QQs: correct a typo in the name of an undocumented 3.12-specific metric
  deps/rabbit/src/rabbit_quorum_queue.erl
Labels: backport-v3.12.x

#8378 bazel run gazelle
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8379 bazel run gazelle
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8380 bazel run gazelle
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel

#8388 Fail boot if definition file is invalid JSON
  deps/rabbit/src/rabbit_definitions.erl
  deps/rabbit/src/rabbit_definitions_import_local_filesystem.erl
  deps/rabbit/test/definition_import_SUITE.erl
  deps/rabbit/test/definition_import_SUITE_data/failing_case20.json
Labels: backport-v3.11.x, backport-v3.12.x

#8396 ca-certificates are needed for k8s peer plugin
  packaging/docker-image/BUILD.bazel
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8404 Don't divide by zero
  deps/rabbit/src/rabbit_observer_cli_quorum_queues.erl
Labels: backport-v3.12.x

#8406 Update 3.11.17 release notes
  release-notes/3.11.17.md
Labels: backport-v3.11.x, backport-v3.12.x

#8344 Add looking_glass
  BUILD.bazel
  MODULE.bazel
  deps/rabbit/BUILD.bazel
  deps/rabbit/src/rabbit_looking_glass.erl
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8412 Make scopes optional for oauth2 authentication
  deps/rabbitmq_auth_backend_oauth2/src/rabbit_auth_backend_oauth2.erl
  deps/rabbitmq_auth_backend_oauth2/test/rabbit_auth_backend_oauth2_test_util.erl
  deps/rabbitmq_auth_backend_oauth2/test/scope_SUITE.erl
  deps/rabbitmq_auth_backend_oauth2/test/unit_SUITE.erl
Labels: backport-v3.11.x, backport-v3.12.x

#8429 Adopt otp 26.0
  MODULE.bazel
Labels: bazel, backport-v3.11.x, backport-v3.12.x

#8428 Adopt otp 25.3.2.1
  MODULE.bazel
  WORKSPACE
Labels: bazel, backport-v3.10.x, backport-v3.11.x, backport-v3.12.x

#8422 Adopt otp 24.3.4.12
  MODULE.bazel
  WORKSPACE
Labels: bazel

#8432 Test with OTP 26 in github actions
  .github/workflows/rabbitmq_peer_discovery_aws.yaml
  .github/workflows/test-mixed-versions.yaml
  .github/workflows/test-selenium.yaml
  .github/workflows/test.yaml
  packaging/docker-image/BUILD.bazel
Labels: bazel

#8433 Use OTP 25.0 & 26.0 in github actions for v3.12.x
  .github/workflows/oci.yaml
  .github/workflows/rabbitmq_peer_discovery_aws.yaml
  .github/workflows/test-mixed-versions.yaml
  .github/workflows/test-selenium.yaml
  .github/workflows/test-windows.yaml
  .github/workflows/test.yaml
  packaging/docker-image/BUILD.bazel
Labels: bazel
