Repository rabbitmq/rabbitmq-server, pull requests merged in 2024-06, with the labels that each got.

#11344 Add ssl_options to rabbitmq_auth_backend_http's schema
  deps/rabbitmq_auth_backend_http/BUILD.bazel
  deps/rabbitmq_auth_backend_http/Makefile
  deps/rabbitmq_auth_backend_http/priv/schema/rabbitmq_auth_backend_http.schema
  deps/rabbitmq_auth_backend_http/src/rabbit_auth_backend_http.erl
  deps/rabbitmq_auth_backend_http/test/auth_SUITE.erl
  deps/rabbitmq_auth_backend_http/test/config_schema_SUITE_data/certs/invalid_cacert.pem
  deps/rabbitmq_auth_backend_http/test/config_schema_SUITE_data/certs/invalid_cert.pem
  deps/rabbitmq_auth_backend_http/test/config_schema_SUITE_data/certs/invalid_key.pem
  deps/rabbitmq_auth_backend_http/test/config_schema_SUITE_data/rabbitmq_auth_backend_http.snippets
Labels: bazel, make, backport-v3.13.x

#11218 Configure OIDC end_session_endpoint
  deps/oauth2_client/include/oauth2_client.hrl
  deps/oauth2_client/src/oauth2_client.erl
  deps/oauth2_client/test/system_SUITE.erl
  deps/rabbitmq_auth_backend_oauth2/priv/schema/rabbitmq_auth_backend_oauth2.schema
  deps/rabbitmq_auth_backend_oauth2/test/config_schema_SUITE_data/rabbitmq_auth_backend_oauth2.snippets
  deps/rabbitmq_management/Makefile
  deps/rabbitmq_management/priv/www/js/oidc-oauth/helper.js
  deps/rabbitmq_management/selenium/package.json
  deps/rabbitmq_management/selenium/test/basic-auth/env.docker.proxy
  deps/rabbitmq_management/selenium/test/basic-auth/env.local.proxy
  deps/rabbitmq_management/selenium/test/pageobjects/BasePage.js
  deps/rabbitmq_management/src/rabbit_mgmt_wm_auth.erl
  deps/rabbitmq_management/test/rabbit_mgmt_wm_auth_SUITE.erl
Labels: make, backport-v3.13.x

#11369 amqp10_client: allow configuring global TLS options
  deps/amqp10_client/src/amqp10_client.erl
  deps/amqp10_client/test/system_SUITE.erl
Labels: backport-v3.13.x

#11378 Improve AMQP tracing
  deps/rabbit/Makefile
  deps/rabbit/include/rabbit_amqp.hrl
  deps/rabbit/src/rabbit_amqp_management.erl
  deps/rabbit/src/rabbit_amqp_reader.erl
  deps/rabbit/src/rabbit_amqp_session.erl
  deps/rabbit/src/rabbit_amqp_writer.erl
Labels: make

#11381 Add number of cores used by RabbitMQ nodes to the management overview.
  deps/rabbitmq_management/priv/www/api/index.html
  deps/rabbitmq_management/priv/www/js/global.js
  deps/rabbitmq_management/priv/www/js/tmpl/node.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/overview.ejs
Labels: backport-v3.13.x

#10988 4.0: Use `persistent_term` for the feature flag registry
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit_feature_flags.erl
  deps/rabbit/src/rabbit_ff_controller.erl
  deps/rabbit/src/rabbit_ff_registry.erl
  deps/rabbit/src/rabbit_ff_registry.hrl
  deps/rabbit/src/rabbit_ff_registry_factory.erl
  deps/rabbit/test/feature_flags_SUITE.erl
Labels: bazel

#11386 rabbitmq-diagnostics status: adjust the (date-based) support status field to match the current community support policy
  deps/rabbit/src/rabbit.erl
  deps/rabbit/src/rabbit_release_series.erl
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/status_command.ex
Labels: backport-v3.12.x, backport-v3.13.x

#11343 Turn off BuildBuddy integration
  .bazelrc
  .github/workflows/rabbitmq_peer_discovery_aws.yaml
  .github/workflows/templates/test-mixed-versions.template.yaml
  .github/workflows/templates/test.template.yaml
  .github/workflows/test-mixed-versions.yaml
  .github/workflows/test-plugin-mixed.yaml
  .github/workflows/test-plugin.yaml
  .github/workflows/test.yaml
  .github/workflows/update-elixir-patches.yaml
  .github/workflows/update-otp-patches.yaml
  MODULE.bazel
  Makefile
  WORKSPACE
  bazel/bzlmod/extensions.bzl
  bazel/platforms/BUILD.bazel
  deps/rabbitmq_peer_discovery_consul/test/system_SUITE_data/consul.hcl
Labels: bazel, make

#11395 Fix typo in rabbitmq.conf.example
  deps/rabbit/docs/rabbitmq.conf.example
Labels: backport-v3.13.x

#11402 Add back rabbitmq_cli tests to CI
  .github/workflows/templates/test-mixed-versions.template.yaml
  .github/workflows/templates/test.template.yaml
  .github/workflows/test-mixed-versions.yaml
  .github/workflows/test.yaml
Labels: backport-v3.11.x, backport-v3.12.x, backport-v3.13.x

#11407 Periodically reconcile virtual host processes
  .github/workflows/templates/test.template.yaml
  deps/rabbit/BUILD.bazel
  deps/rabbit/Makefile
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit.erl
  deps/rabbit/src/rabbit_node_monitor.erl
  deps/rabbit/src/rabbit_vhosts.erl
  deps/rabbit/test/rabbitmqctl_integration_SUITE.erl
  deps/rabbitmq_auth_backend_http/BUILD.bazel
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/reconcile_vhosts_command.ex
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/restart_vhost_command.ex
  deps/rabbitmq_cli/test/ctl/reconcile_vhosts_command_test.exs
  moduleindex.yaml
Labels: bazel, make, backport-v3.13.x

#11401 3.13.x: fix direct-reply-to crash and lost reply in 3.12 / 3.13 mixed version clusters
  deps/rabbit/BUILD.bazel
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit_channel.erl
  deps/rabbit/test/amqpl_direct_reply_to_SUITE.erl
Labels: bazel

#11397 4.x: add tests for AMQP 0.9.1 direct reply to feature
  deps/rabbit/BUILD.bazel
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit_channel.erl
  deps/rabbit/test/amqpl_direct_reply_to_SUITE.erl
Labels: bazel

#11338 Making make better
  Makefile
  deps/rabbit/Makefile
  deps/rabbit_common/mk/rabbitmq-dist.mk
  deps/rabbit_common/mk/rabbitmq-run.mk
  deps/rabbitmq_auth_backend_oauth2/Makefile
  deps/rabbitmq_cli/Makefile
  erlang.mk
  rabbitmq-components.mk
Labels: make

#11427 make restart-cluster
  deps/rabbit_common/mk/rabbitmq-run.mk
Labels: make

#10091 Add a new local random exchange type.
  deps/rabbit/BUILD.bazel
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit_exchange_type_local_random.erl
  deps/rabbit/test/quorum_queue_SUITE.erl
  deps/rabbit/test/rabbit_local_random_exchange_SUITE.erl
  moduleindex.yaml
Labels: bazel

#11435 3.13: ctl list_unresponsive_queues: handle queues of type MQTT QoS 0
  deps/rabbit/include/amqqueue.hrl
  deps/rabbit/src/rabbit_amqqueue.erl
Labels: backport-v3.13.x

#11438 Fix make regressions from "Making make better"
  deps/rabbit_common/mk/rabbitmq-run.mk
  deps/rabbitmq_ct_helpers/src/rabbit_ct_broker_helpers.erl
Labels: make

#11419 Build IBM MQ docker image with AMQP built-in capability
  .github/workflows/ibm-mq-make.yaml
Labels: backport-v3.13.x

#11455 Reduce default maximum message size to 16MB
  deps/amqp10_client/test/system_SUITE.erl
  deps/rabbit/BUILD.bazel
  deps/rabbit/Makefile
  deps/rabbit/test/message_size_limit_SUITE.erl
Labels: bazel, make

#11461 bazel run gazelle
  deps/rabbitmq_amqp1_0/BUILD.bazel
  deps/rabbitmq_auth_backend_oauth2/BUILD.bazel
  deps/rabbitmq_consistent_hash_exchange/BUILD.bazel
  deps/rabbitmq_ct_helpers/BUILD.bazel
  deps/rabbitmq_federation/BUILD.bazel
  deps/rabbitmq_management_agent/BUILD.bazel
  deps/rabbitmq_mqtt/BUILD.bazel
  deps/rabbitmq_shovel/BUILD.bazel
  deps/rabbitmq_stomp/BUILD.bazel
  deps/rabbitmq_stream/BUILD.bazel
Labels: bazel

#11112 4.x: Additional CQv2 message store optimisations
  deps/rabbit/BUILD.bazel
  deps/rabbit/Makefile
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit_classic_queue_index_v2.erl
  deps/rabbit/src/rabbit_msg_store.erl
  deps/rabbit/src/rabbit_msg_store_ets_index.erl
  deps/rabbit/test/backing_queue_SUITE.erl
  deps/rabbit_common/app.bzl
  deps/rabbit_common/include/rabbit_msg_store.hrl
  deps/rabbit_common/src/rabbit_msg_store_index.erl
  moduleindex.yaml
Labels: bazel, make

#11465 Upgrade maven for MQTT java tests.
  deps/rabbitmq_mqtt/test/java_SUITE_data/.mvn/wrapper/MavenWrapperDownloader.java
  deps/rabbitmq_mqtt/test/java_SUITE_data/.mvn/wrapper/maven-wrapper.jar
  deps/rabbitmq_mqtt/test/java_SUITE_data/.mvn/wrapper/maven-wrapper.properties
  deps/rabbitmq_mqtt/test/java_SUITE_data/mvnw
  deps/rabbitmq_mqtt/test/java_SUITE_data/mvnw.cmd
Labels: backport-v3.13.x

#11447 Ra v2.11.0
  MODULE.bazel
  rabbitmq-components.mk
Labels: bazel, make, backport-v3.13.x

#11366 OTP27 support
  MODULE.bazel
  deps/rabbit/src/rabbit.erl
  deps/rabbit/src/rabbit_amqqueue.erl
  deps/rabbit/src/rabbit_channel.erl
  deps/rabbit/src/rabbit_channel_interceptor.erl
  deps/rabbit/src/rabbit_fifo_dlx_worker.erl
  deps/rabbit/src/rabbit_networking_store.erl
  deps/rabbit/src/rabbit_tracking_store.erl
  deps/rabbit_common/src/supervisor2.erl
  deps/rabbitmq_ct_helpers/src/rabbit_ct_helpers.erl
  deps/rabbitmq_prometheus/docker/docker-entrypoint.sh
Labels: bazel, make

#11470 Bump Maven to 3.9.8 in Java test suites
  deps/rabbit/test/amqp_system_SUITE_data/java-tests/.mvn/wrapper/MavenWrapperDownloader.java
  deps/rabbit/test/amqp_system_SUITE_data/java-tests/.mvn/wrapper/maven-wrapper.jar
  deps/rabbit/test/amqp_system_SUITE_data/java-tests/.mvn/wrapper/maven-wrapper.properties
  deps/rabbit/test/amqp_system_SUITE_data/java-tests/mvnw
  deps/rabbit/test/amqp_system_SUITE_data/java-tests/mvnw.cmd
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot/.mvn/wrapper/MavenWrapperDownloader.java
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot/.mvn/wrapper/maven-wrapper.jar
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot/.mvn/wrapper/maven-wrapper.properties
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot/mvnw
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot/mvnw.cmd
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot_kotlin/.mvn/wrapper/maven-wrapper.jar
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot_kotlin/.mvn/wrapper/maven-wrapper.properties
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot_kotlin/mvnw
  deps/rabbitmq_auth_backend_http/examples/rabbitmq_auth_backend_spring_boot_kotlin/mvnw.cmd
  deps/rabbitmq_stream/test/rabbit_stream_SUITE_data/.mvn/wrapper/MavenWrapperDownloader.java
  deps/rabbitmq_stream/test/rabbit_stream_SUITE_data/.mvn/wrapper/maven-wrapper.jar
  deps/rabbitmq_stream/test/rabbit_stream_SUITE_data/.mvn/wrapper/maven-wrapper.properties
  deps/rabbitmq_stream/test/rabbit_stream_SUITE_data/mvnw
  deps/rabbitmq_stream/test/rabbit_stream_SUITE_data/mvnw.cmd
  deps/rabbitmq_stream_management/test/http_SUITE_data/.mvn/wrapper/maven-wrapper.jar
  deps/rabbitmq_stream_management/test/http_SUITE_data/.mvn/wrapper/maven-wrapper.properties
  deps/rabbitmq_stream_management/test/http_SUITE_data/mvnw
  deps/rabbitmq_stream_management/test/http_SUITE_data/mvnw.cmd
Labels: backport-v3.13.x

#11473 Maybe reduce cache errors
  .github/workflows/rabbitmq_peer_discovery_aws.yaml
  .github/workflows/test-plugin-mixed.yaml
  .github/workflows/test-plugin.yaml
Labels: backport-v3.11.x, backport-v3.12.x, backport-v3.13.x

#11456 Use rules_elixir for rabbitmqctl
  .bazelrc
  .github/workflows/test-plugin.yaml
  BUILD.bazel
  MODULE.bazel
  bazel/BUILD.ranch
  bazel/bzlmod/extensions.bzl
  bazel/elixir/BUILD.bazel
  bazel/elixir/elixir.bzl
  bazel/elixir/elixir_as_app.bzl
  bazel/elixir/elixir_build.bzl
  bazel/elixir/elixir_bytecode.bzl
  bazel/elixir/elixir_escript_main.bzl
  bazel/elixir/elixir_escript_main.exs
  bazel/elixir/elixir_toolchain.bzl
  bazel/elixir/iex_eval.bzl
  bazel/elixir/mix_archive_build.bzl
  bazel/elixir/mix_archive_extract.bzl
  bazel/repositories/BUILD.bazel
  bazel/repositories/BUILD_external.tpl
  bazel/repositories/BUILD_internal.tpl
  bazel/repositories/defaults.bzl.tpl
  bazel/repositories/elixir_config.bzl
  deps/amqp_client/BUILD.bazel
  deps/rabbit/BUILD.bazel
  deps/rabbitmq_auth_backend_oauth2/BUILD.bazel
  deps/rabbitmq_cli/BUILD.bazel
  deps/rabbitmq_cli/rabbitmqctl.bzl
  deps/rabbitmq_cli/rabbitmqctl_check_formatted.bzl
  deps/rabbitmq_cli/rabbitmqctl_compile_warnings_as_errors.bzl
  deps/rabbitmq_cli/rabbitmqctl_test.bzl
  deps/rabbitmq_cli/test/core/command_modules_test.exs
  deps/rabbitmq_cli/test/json_formatting_test.exs
  deps/rabbitmq_cli/test/test_helper.exs
  deps/rabbitmq_consistent_hash_exchange/BUILD.bazel
  deps/rabbitmq_ct_client_helpers/BUILD.bazel
  deps/rabbitmq_ct_helpers/BUILD.bazel
  deps/rabbitmq_federation/BUILD.bazel
  deps/rabbitmq_federation_management/BUILD.bazel
  deps/rabbitmq_management/BUILD.bazel
  deps/rabbitmq_management_agent/BUILD.bazel
  deps/rabbitmq_mqtt/BUILD.bazel
  deps/rabbitmq_shovel/BUILD.bazel
  deps/rabbitmq_shovel_management/BUILD.bazel
  deps/rabbitmq_stomp/BUILD.bazel
  deps/rabbitmq_stream/BUILD.bazel
  deps/rabbitmq_stream_management/BUILD.bazel
  deps/rabbitmq_top/BUILD.bazel
  deps/rabbitmq_tracing/BUILD.bazel
  deps/rabbitmq_web_mqtt/BUILD.bazel
  deps/rabbitmq_web_stomp/BUILD.bazel
  rabbitmq.bzl
  rabbitmq_home.bzl
  scripts/bazel/rabbitmq-run.sh
Labels: bazel, backport-v3.12.x, backport-v3.13.x

#11478 Remove remaining buildbuddy usage
  .github/workflows/perform-bazel-execution-comparison.yaml
  .github/workflows/templates/test-mixed-versions.template.yaml
  .github/workflows/test-authnz.yaml
  .github/workflows/test-erlang-git.yaml
  .github/workflows/test-mixed-versions.yaml
  .github/workflows/test-selenium.yaml
  .github/workflows/test-windows.yaml
  bazel/bzlmod/secondary_umbrella.bzl
  user-template.bazelrc
Labels: bazel, backport-v3.11.x, backport-v3.12.x, backport-v3.13.x

#11479 Use emqx/emqtt instead of a fork
  MODULE.bazel
  deps/rabbitmq_auth_backend_oauth2/Makefile
  deps/rabbitmq_mqtt/Makefile
  deps/rabbitmq_mqtt/test/auth_SUITE.erl
  deps/rabbitmq_web_mqtt/Makefile
Labels: bazel, make, backport-v3.13.x

#11490 Deflake vhost_is_created_with_default_user
  deps/rabbit/test/vhost_SUITE.erl
Labels: backport-v3.13.x

#11477 MQTT: speed up shared_SUITE:many_qos1_messages
  deps/rabbitmq_mqtt/BUILD.bazel
  deps/rabbitmq_mqtt/src/rabbit_mqtt_processor.erl
  deps/rabbitmq_mqtt/test/shared_SUITE.erl
Labels: bazel, backport-v3.13.x

#11503 bazel run gazelle
  deps/rabbitmq_ct_helpers/BUILD.bazel
Labels: bazel

#11509 make: Fix circular dependency
  deps/rabbitmq_amqp1_0/Makefile
Labels: make

#11506 Use the latest rules_erlang & rules_elixir
  MODULE.bazel
  bazel/elixir/elixir_bytecode.bzl
  deps/rabbitmq_cli/BUILD.bazel
Labels: bazel, backport-v3.12.x, backport-v3.13.x

#11496 Speed up rabbit managements tests
  deps/rabbitmq_ct_helpers/src/rabbit_mgmt_test_util.erl
  deps/rabbitmq_management/test/clustering_SUITE.erl
  deps/rabbitmq_management/test/clustering_prop_SUITE.erl
  deps/rabbitmq_management/test/rabbit_mgmt_http_SUITE.erl
  deps/rabbitmq_management/test/rabbit_mgmt_http_health_checks_SUITE.erl
  deps/rabbitmq_management/test/rabbit_mgmt_only_http_SUITE.erl
  deps/rabbitmq_management/test/rabbit_mgmt_test_db_SUITE.erl
  deps/rabbitmq_management_agent/src/rabbit_mgmt_metrics_collector.erl
Labels: backport-v3.13.x

#11521 Update Erlang.mk
  erlang.mk
Labels: make

#11513 CQ: Remove rabbit_memory_monitor and RAM durations
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit.erl
  deps/rabbit/src/rabbit_amqqueue.erl
  deps/rabbit/src/rabbit_amqqueue_process.erl
  deps/rabbit/src/rabbit_backing_queue.erl
  deps/rabbit/src/rabbit_memory_monitor.erl
  deps/rabbit/src/rabbit_priority_queue.erl
  deps/rabbit/src/rabbit_variable_queue.erl
  deps/rabbit/test/backing_queue_SUITE.erl
  deps/rabbit/test/channel_operation_timeout_test_queue.erl
  deps/rabbit/test/priority_queue_SUITE.erl
  moduleindex.yaml
Labels: bazel

#11515 Handle unknown QQ state
  deps/rabbit/src/rabbit_quorum_queue.erl
  deps/rabbit/test/unit_quorum_queue_SUITE.erl
Labels: backport-v3.13.x

#11415 cuttlefish tls schema for amqp_client
  deps/rabbit/priv/schema/rabbit.schema
  deps/rabbit/test/config_schema_SUITE_data/rabbit.snippets
Labels: bazel, backport-v3.13.x

#11529 Allow elixir 1.17.x
  deps/rabbitmq_cli/mix.exs
Labels: backport-v3.13.x

#11528 Follow-up to #11457
  deps/rabbit/src/rabbit_amqqueue.erl
  deps/rabbit/src/rabbit_queue_type.erl
  deps/rabbit/src/rabbit_vhost.erl
  deps/rabbit/test/definition_import_SUITE.erl
Labels: backport-v3.13.x

#11533 Remove Bloom filter data section for message delivery command in RabbitMQ Streams documentation
  deps/rabbitmq_stream/docs/PROTOCOL.adoc
Labels: backport-v3.13.x

#11527 bazel run gazelle
  deps/rabbitmq_management/app.bzl
Labels: bazel

#11536 bazel run gazelle
  deps/rabbitmq_ct_helpers/BUILD.bazel
Labels: bazel

#11538 GET /api/definitions now returns virtual host metadata
  deps/rabbitmq_management/src/rabbit_mgmt_wm_definitions.erl
  deps/rabbitmq_management/src/rabbit_mgmt_wm_vhosts.erl
  deps/rabbitmq_management/test/rabbit_mgmt_http_SUITE.erl
Labels: backport-v3.13.x

#11541 Make 'queue.declare' aware of virtual host DQT at validation time
  deps/rabbit/src/rabbit_amqqueue.erl
  deps/rabbit/src/rabbit_priority_queue.erl
  deps/rabbit/src/rabbit_queue_type.erl
  deps/rabbit/src/rabbit_vhost.erl
  deps/rabbitmq_management/src/rabbit_mgmt_wm_definitions.erl
  deps/rabbitmq_management/test/stats_SUITE.erl
Labels: backport-v3.13.x

#11555 Tracing: expose directory path setting as tracing.dir
  deps/rabbitmq_tracing/BUILD.bazel
  deps/rabbitmq_tracing/app.bzl
  deps/rabbitmq_tracing/priv/schema/rabbitmq_tracing.schema
  deps/rabbitmq_tracing/test/config_schema_SUITE.erl
  deps/rabbitmq_tracing/test/config_schema_SUITE_data/rabbitmq_tracing.snippets
Labels: bazel, backport-v3.13.x

#11562 Actions: use a secondary cache bucket for mixed versions tests.
  .github/workflows/templates/test-mixed-versions.template.yaml
  .github/workflows/test-mixed-versions.yaml
  .github/workflows/test-plugin-mixed.yaml
Labels: backport-v3.13.x

#11560 Fix message IDs settlement order
  deps/amqp10_common/src/serial_number.erl
  deps/rabbit/BUILD.bazel
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit_amqp_session.erl
  deps/rabbit/src/rabbit_channel.erl
  deps/rabbit/src/rabbit_classic_queue.erl
  deps/rabbit/src/rabbit_queue_consumers.erl
  deps/rabbit/test/amqp_client_SUITE.erl
  deps/rabbit/test/amqpl_consumer_ack_SUITE.erl
  deps/rabbit/test/dead_lettering_SUITE.erl
Labels: bug, bazel

#11567 Osiris v1.8.2
  MODULE.bazel
  deps/rabbit/Makefile
Labels: bazel, make, backport-v3.13.x

#11547 Speed up rabbit tests suites
  deps/rabbit/.DS_Store
  deps/rabbit/BUILD.bazel
  deps/rabbit/test/consumer_timeout_SUITE.erl
  deps/rabbit/test/dead_lettering_SUITE.erl
  deps/rabbit/test/dynamic_qq_SUITE.erl
  deps/rabbit/test/metrics_SUITE.erl
  deps/rabbit/test/peer_discovery_classic_config_SUITE.erl
  deps/rabbit/test/product_info_SUITE.erl
  deps/rabbit/test/queue_parallel_SUITE.erl
  deps/rabbit/test/queue_type_SUITE.erl
  deps/rabbit/test/queue_utils.erl
  deps/rabbit/test/quorum_queue_SUITE.erl
  deps/rabbit/test/rabbit_fifo_dlx_integration_SUITE.erl
  deps/rabbit/test/rabbit_fifo_prop_SUITE.erl
  deps/rabbit/test/rabbit_stream_queue_SUITE.erl
  deps/rabbit/test/signal_handling_SUITE.erl
Labels: bazel, backport-v3.13.x

#11436 Remove most of the fd related FHC code
  deps/amqp_client/src/amqp_network_connection.erl
  deps/rabbit/src/rabbit.erl
  deps/rabbit/src/rabbit_amqqueue.erl
  deps/rabbit/src/rabbit_amqqueue_process.erl
  deps/rabbit/src/rabbit_classic_queue_index_v2.erl
  deps/rabbit/src/rabbit_classic_queue_store_v2.erl
  deps/rabbit/src/rabbit_fifo.erl
  deps/rabbit/src/rabbit_fifo_v0.erl
  deps/rabbit/src/rabbit_fifo_v1.erl
  deps/rabbit/src/rabbit_file.erl
  deps/rabbit/src/rabbit_mnesia.erl
  deps/rabbit/src/rabbit_msg_store.erl
  deps/rabbit/src/rabbit_networking.erl
  deps/rabbit/src/rabbit_queue_index.erl
  deps/rabbit/src/rabbit_quorum_queue.erl
  deps/rabbit/src/rabbit_reader.erl
  deps/rabbit/src/rabbit_vhost.erl
  deps/rabbit/test/backing_queue_SUITE.erl
  deps/rabbit/test/quorum_queue_SUITE.erl
  deps/rabbit/test/rabbit_fifo_SUITE.erl
  deps/rabbit/test/rabbit_fifo_int_SUITE.erl
  deps/rabbit/test/rabbit_fifo_v0_SUITE.erl
  deps/rabbit/test/unit_file_handle_cache_SUITE.erl
  deps/rabbit/test/unit_gen_server2_SUITE.erl
  deps/rabbit_common/app.bzl
  deps/rabbit_common/src/file_handle_cache.erl
  deps/rabbit_common/src/file_handle_cache_stats.erl
  deps/rabbit_common/src/worker_pool_worker.erl
  deps/rabbitmq_cli/lib/rabbitmq/cli/ctl/commands/status_command.ex
  deps/rabbitmq_management/priv/www/api/index.html
  deps/rabbitmq_management/priv/www/js/global.js
  deps/rabbitmq_management/priv/www/js/tmpl/node.ejs
  deps/rabbitmq_management/priv/www/js/tmpl/overview.ejs
  deps/rabbitmq_management_agent/src/rabbit_mgmt_external_stats.erl
  deps/rabbitmq_prometheus/metrics.md
  deps/rabbitmq_prometheus/src/collectors/prometheus_rabbitmq_core_metrics_collector.erl
  deps/rabbitmq_web_mqtt/src/rabbit_web_mqtt_handler.erl
  deps/rabbitmq_web_stomp/src/rabbit_web_stomp_handler.erl
  moduleindex.yaml
Labels: bazel

#11549 Various make cleanup/consolidation
  BUILD.bazel
  MODULE.bazel
  Makefile
  deps/amqp10_client/.gitignore
  deps/amqp10_client/Makefile
  deps/amqp10_common/.gitignore
  deps/amqp_client/.gitignore
  deps/oauth2_client/.gitignore
  deps/oauth2_client/Makefile
  deps/rabbit/.gitignore
  deps/rabbit/BUILD.bazel
  deps/rabbit/Makefile
  deps/rabbit/app.bzl
  deps/rabbit/src/rabbit.erl
  deps/rabbit/src/rabbit_looking_glass.erl
  deps/rabbit_common/.gitignore
  deps/rabbit_common/Makefile
  deps/rabbit_common/mk/rabbitmq-build.mk
  deps/rabbit_common/mk/rabbitmq-dist.mk
  deps/rabbit_common/mk/rabbitmq-early-test.mk
  deps/rabbit_common/mk/rabbitmq-macros.mk
  deps/rabbit_common/mk/rabbitmq-run.mk
  deps/rabbit_common/mk/rabbitmq-test.mk
  deps/rabbit_common/mk/rabbitmq-tools.mk
  deps/rabbit_common/mk/xrefr
  deps/rabbitmq_amqp_client/Makefile
  deps/rabbitmq_aws/.gitignore
  deps/rabbitmq_aws/README.md
  deps/rabbitmq_cli/README.md
  deps/rabbitmq_consistent_hash_exchange/.gitignore
  deps/rabbitmq_consistent_hash_exchange/README.md
  deps/rabbitmq_ct_client_helpers/.gitignore
  deps/rabbitmq_ct_helpers/.gitignore
  deps/rabbitmq_ct_helpers/src/rabbit_ct_broker_helpers.erl
  deps/rabbitmq_federation/.gitignore
  deps/rabbitmq_federation/README.md
  deps/rabbitmq_management/.gitignore
  deps/rabbitmq_mqtt/.gitignore
  deps/rabbitmq_peer_discovery_aws/.gitignore
  deps/rabbitmq_peer_discovery_common/.gitignore
  deps/rabbitmq_peer_discovery_consul/.gitignore
  deps/rabbitmq_peer_discovery_etcd/.gitignore
  deps/rabbitmq_peer_discovery_k8s/.gitignore
  deps/rabbitmq_prelaunch/.gitignore
  deps/rabbitmq_sharding/.gitignore
  deps/rabbitmq_shovel/.gitignore
  deps/rabbitmq_stomp/.gitignore
  deps/rabbitmq_stomp/README.md
  deps/rabbitmq_stream/.gitignore
  deps/rabbitmq_stream_common/.gitignore
  deps/rabbitmq_stream_management/.gitignore
  deps/trust_store_http/.gitignore
  moduleindex.yaml
  rabbitmq-components.mk
Labels: bazel, make

#11572 Speed up rabbit tests backport
  deps/rabbit/BUILD.bazel
  deps/rabbit/test/dead_lettering_SUITE.erl
  deps/rabbit/test/dynamic_qq_SUITE.erl
  deps/rabbit/test/metrics_SUITE.erl
  deps/rabbit/test/peer_discovery_classic_config_SUITE.erl
  deps/rabbit/test/product_info_SUITE.erl
  deps/rabbit/test/queue_type_SUITE.erl
  deps/rabbit/test/queue_utils.erl
  deps/rabbit/test/quorum_queue_SUITE.erl
  deps/rabbit/test/rabbit_fifo_dlx_integration_SUITE.erl
  deps/rabbit/test/rabbit_fifo_prop_SUITE.erl
  deps/rabbit/test/rabbit_stream_queue_SUITE.erl
  deps/rabbit/test/signal_handling_SUITE.erl
Labels: bazel

#11587 Add logging for when hitting vhost_max and component limits
  deps/rabbit/src/rabbit_runtime_parameters.erl
  deps/rabbit/src/rabbit_vhost.erl
Labels: backport-v3.13.x
